<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive table-bordered table-hover table-striped">
      <thead>
        {{results-item model=item}}
      </thead>
      <tbody>
        {{#each model.results as |item|}}
          <tr>
            <td>{{item.title}}</td>
            <td>{{item.type}}</td>
            <td>{{item.owner}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
